
// Horizontal Rule Mixin

@mixin horizontal-rule {
	margin: 75px 0 20px;
	border: 0;
   	height: 0;
   	border-top: 1px solid rgba(0, 0, 0, 0.1);
   	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


// Base Text Styles Mixin

@mixin base-text-styles($font-size, $font-weight: null, $color: null) {
	font-size: $font-size;
	font-weight: $font-weight;
	color: $color;
}