
// Descriptive Color Variables 

$hover-color: #d3d3d3;
$link-color: #333;
$footer-background-color: #F2F2F2;
$nav-background-color: #F2F2F2;
$primary-text-color: #504A4B;
$h1-color: #504A4B;
$p-color: #504A4B;
$wrapper-background-color: #F2F2F2;
$mainnav-li-background-color: #fff;
$white: #fff;

// Media Query Breakpoints

$brk-narrow  : '(min-width: 768px)';
$brk-wide    : '(min-width: 1024px)';